{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}  
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('action', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
      <form id='setting' name='setting'>
        {{ macros.setting_input_text('interval', '스케쥴링 실행 정보', value=arg['interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
        {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
        {{ macros.setting_input_text_and_buttons('work_path', '변환할 폴더',[['btn_add_work_path', '경로추가']], desc=['smi 파일을 탐색할 폴더입니다.', '2개 이상일 경우 구분자 ,'], value=arg['work_path']) }}
        {{ macros.setting_checkbox('flag_remake', '재변환', value=arg['flag_remake'], desc=['On : 이미 srt 파일이 있는 경우에도 다시 변환합니다.']) }}
        {{ macros.setting_checkbox('flag_remove_smi', '변환 후 smi 파일 삭제', value=arg['flag_remove_smi'], desc=['On : srt로 변환 성공 시 smi 파일을 삭제합니다.']) }}
        {{ macros.setting_checkbox('flag_append_ko', 'ko 삽입', value=arg['flag_append_ko'], desc=['On : .smi 를 .ko.srt 로 변환합니다.']) }}
        {{ macros.setting_checkbox('flag_change_ko_srt', '.srt => .ko.srt 변환', value=arg['flag_change_ko_srt'], desc=['On : 탐색시 .srt파일을 .ko.srt으로 변환합니다.']) }}
        {{ macros.setting_checkbox('fail_file_move', '변환 실패시 파일 이동', value=arg['fail_file_move'], desc=['On : 실패된 파일을 지정된 폴더로 이동합니다.', 'Off : 실행시마다 변환 시도합니다.']) }}
        <div id="fail_file_move_div" class="collapse">
        {{ macros.setting_input_text('not_smi_move_path', 'NOT SMI 파일', desc=['SMI 포맷이 아닌 .smi 파일이 이동할 폴더입니다.'], value=arg['not_smi_move_path']) }}
        {{ macros.setting_input_text('fail_move_path', '변환 실패한 파일', desc=['변환 실패시 .smi 파일이 이동할 폴더입니다.'], value=arg['fail_move_path']) }}
        </div>
      </form>
      {{ macros.m_tab_content_end() }}
      {{ macros.m_tab_content_start('action', false) }}      
        {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
        {{ macros.setting_button([['global_reset_db_btn', '목록 전체 지우기']], left='DB정리' ) }}
      {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</div> <!--전체-->

<div class="modal fade" id="modal_add_work_path" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">경로 선택: </h4>
            </div>
            <div class="modal-body" id="modal_body" style="word-break: break-all;">
                {{ macros.setting_input_text_and_buttons('text_modal_path', '경로 선택',[['btn_push_current_path', '경로 로드']], desc=['입력한 경로를 불러옵니다.'], value='/') }}
                <div class="list-group" id="list_group_file_path">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id='trailer_push_btn' class="btn btn-success" data-dismiss="modal">경로 추가
                </button>
                <button type="button" id='trailer_close_btn' class="btn btn-default" data-dismiss="modal">닫기
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data = null;

$(document).ready(function(){
  use_collapse("fail_file_move");
});

$('#fail_file_move').change(function() {
  use_collapse('fail_file_move');
});
  
let get_work_path = (path = '/') => {
            $.ajax({
                url: `/${package_name}/ajax/get_work_path`,
                type: 'POST',
                cache: false,
                data: {
                    path: path
                },
                dataType: 'json'
            }).done((datas) => {
                let new_obj = ``;
                const path_spliter = (path.indexOf('/')>=0)?'/':'\\';
                $('#list_group_file_path').empty();
                for (let dt of datas) {
                    new_obj += `<a href='#' class="list-group-item list-group-item-action item_path">${dt}</a>`;
                }
                $('#list_group_file_path').append(new_obj);
                $('.item_path').off('click').click((evt) => {
                    let new_path = '';
                    if ($(evt.currentTarget).text() === '..'){
                        let split_path = '';
                        split_path = path.split(path_spliter);
                        split_path.pop();
                        new_path = split_path.join(path_spliter);
                        if (new_path.length === 0){
                            new_path = path_spliter
                        }
                    }else{
                        new_path = (path !== path_spliter) ? path + path_spliter + $(evt.currentTarget).text() : path + $(evt.currentTarget).text();
                    }
                    $('#text_modal_path').val(new_path);
                    get_work_path(new_path);
                });
            }).fail((datas) => {
                $.notify('<strong>경로 읽기 실패</strong><br/>${add_path}', {type: 'danger'});
            });
            return false;
        }
        $('#btn_add_work_path').click((evt) => {
            let add_path = '/';
            $('#text_modal_path').val(add_path);
            $('#modal_add_work_path').modal();
            get_work_path(add_path);
            return false;
        });
        $('#btn_push_current_path').click((evt) => {
            let current_path = $('#text_modal_path').val().trim();
            get_work_path(current_path);
            return false;
        });
        $('#trailer_push_btn').click((evt) => {
            let prev_val = $('#work_path').val();
            if (prev_val.length > 0) {
                $('#work_path').val(prev_val + ',' + $('#text_modal_path').val())
            } else {
                $('#work_path').val($('#text_modal_path').val());
            }
            $('#modal_add_work_path').modal('toggle');
            return false;
        });
</script>    
{% endblock %}
